[Desktop Entry]
Exec=/media/sda2/prog/1installed/firefox/firefox/firefox
Icon=/media/sda2/prog/1installed/firefox/firefox/browser/chrome/icons/default/default48.png
Name=Firefox
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
